@import 'variables';

section {
  display:flex;
  position:relative;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  text-align:center;
  width:100%;
  min-height:100vh;
  padding:$nav-height 0 0 0;
  &#Contact {
    background:url('https://source.unsplash.com/WugpjxgNIsM/1600x900') no-repeat center center/cover;
  }
  &#Skills {
    background:url('https://source.unsplash.com/qjnAnF0jIGk/1600x900') no-repeat center center/cover;
  }
  &#Portfolio {
    background:url('https://source.unsplash.com/qY7F4hHr1pc/1600x900') no-repeat center center/cover;
  }
  .cover {
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    opacity:$cover-opacity;
    background:$background;
  }
  .content {
    z-index:1;
    width:100%;
    h1 {
      font-size:4rem;
    }
  }
}
